main{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    height: 97vh;
    grid-template-rows: 1fr auto 1fr;
}

form{
    grid-column-start: 2;
    grid-row-start: 2;
    /* white-space: pre; */
    background-color: rgba(255, 255, 255, 0.671);
    padding:33px;
    border-radius:111px;
}

#pepito1{
    grid-column-start: 2;
    grid-row-start: 1;
}
#pepito2{
    grid-column-start: 1;
    grid-row-start: 2;
}
#pepito3{
    grid-column-start: 3;
    grid-row-start: 2;
}
#pepito4{
    grid-column-start: 2;
    grid-row-start: 3;
}

.pepito{
    text-align: center;
    
    font-size: xxx-large;
    display: flex;
}

h1{
    margin: auto;
}

.yo{
    text-align:center;
}

input{
    border-radius: 111px;
}